{% extends 'base.html' %}

{% block title %} 
    Пост {{post_id_selected.text|truncatechars:30}}
{% endblock %}

{%block content%}
<div class="row">
    <aside class="col-12 col-md-3">
        {% include 'includes/group_one_post.html' %}
    </aside>
    <article class="col-12 col-md-9">
      <p>{{post_id_selected.text}}</p>
      {% if request.user.is_authenticated  %}
        <a class="btn btn-primary" href="{% url 'posts:post_edit'  post_id_selected.id %}">Редактировать запись</a>
      {% endif %}
    </article>
</div> 
{% endblock %}