{% extends 'base.html' %}

{% block title %} 
    {{author.get_full_name}} профайл пользователя 
{% endblock %}

{%block content%}
<div class="container py-5">
    <h1>Все посты пользователя {{author.get_full_name}}</h1>
    <h3>Всего постов: {{count_posts}}</h3>
    <article>
        {% for post in page_obj %}
        {% include 'includes/group_post.html' %}
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
    </article> 
</div>
{% endblock %}

